@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply block list-disc my-4 pl-7 sm:pl-10;
  }

  ol {
    @apply block list-decimal my-4 pl-7 sm:pl-10;
  }

  blockquote {
    border-left: 5px solid #ccc;
    @apply overflow-hidden italic px-2 sm:px-4 my-4;
  }

  figure {
    outline-width: 3px;
    outline-style: solid;
    outline-color: transparent;
    transition: outline-color 200ms ease;
    @apply my-4 mx-auto relative;
  }

  table {
    @apply border-collapse w-full h-full border-2 border-double;
  }

  td {
    min-width: 2em;
    @apply p-2 border-2 border-solid border-gray-300 text-sm;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  .tab {
    @apply w-max px-2.5 py-2 text-sm uppercase leading-5 font-medium rounded-lg mx-3 ring-offset-2 ring-offset-blue-400 ring-white ring-opacity-60;
  }

  .tab-selected {
    @apply bg-theme-white shadow border-2;
  }
}

/* Forum post styles */
.forum-post-body-title::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.forum-post-body-content .image img {
  margin: auto !important;
}

.tooltip:hover .tooltip-text {
  visibility: visible !important;
}

.ck-sticky-panel__content {
  margin-top: 68px;
}
