@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-theme-gray-300 font-theme-font-family text-theme-white-300;
  }

  .mini-dot {
    @apply w-0.5 h-0.5 bg-theme-white-300 rounded-full mx-1.5 inline-block;
  }
}

.forum-post-body-title::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.required:after {
  content: " *";
  color: #f26771;
}
