@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-theme-font-family text-theme-body-text-color bg-theme-gray-500;
  }

  .mini-dot {
    @apply w-0.5 h-0.5 bg-theme-body-text-color rounded-full mx-1.5 inline-block;
  }
}

.forum-post-body-title::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.required:after {
  content: " *";
  color: #f26771;
}

.tooltip:hover .tooltip-text {
  visibility: visible !important;
}
